---
title: Altoros Log Search for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>WARNING! </strong>
The Altoros Log Search for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

Altoros Logsearch is a flexible combination of Elasticsearch, Logstash and Kibana (ELK) that provides log aggregation and parsing algorithms for PCF operators and developers. 

## <a id='overview'></a>Overview

The Altoros Log Search for PCF provides role-based access to system and application logs. 


## <a id='features'></a>Key Features

Altoros Log Search for PCF includes the following key features:

* Elasticsearch 5.3.1, Kibana 5.3.1, Logstash 5.3.1
* Logstash parsing rules adapted specifically for PCF
* Out-of-the-Box Kibana dashboards

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Altoros Log Search for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.207.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 12, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.207.5</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>      
</table>

## <a id="reqs"></a>Requirements

Altoros Log Search for PCF has the following requirements:

+ [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime) v1.7.x, v1.8.x, v1.9.x, or v1.10.x

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).

