---
title: Altoros Log Search for PCF 
owner: Partners
---

Altoros Log Search for PCF is a flexible combination of Elasticsearch, Logstash, and Kibana (ELK)
that provides log aggregation and parsing algorithms for PCF operators and developers. 
The solution provides shared and on-demand service plans. PCF operators can create a 
Log Search cluster, where access will be shared within a group of developers. 
With on-demand service plan, developers get the possibility to create Log Search cluster 
and bind it to some applications, which should be monitored.    

## <a id='overview'></a>Overview

The Altoros Log Search for PCF provides role-based access to system and application logs.
Out-the-box, users get:

+ Retrieving and parsing of logs received from PCF
+ Secure authorized access to these logs in Kibana
+ Useful dashboards and search queries to start log analysis
+ Shared and on-demand service plans


## <a id='features'></a>Key Features

Altoros Log Search for PCF includes the following key features:

* **PCF logs**: Collecting logs from all PCF components
* **Services logs**: Provides the ability to collect logs from all PCF Data Services available on Pivotal Network
* **Application logs**: Log Search is configured to get all application logs by default
* **SSO and multi-tenancy**: Uses the Cloud Foundry UAA service to control access to Kibana dashboards based on user role and rights within the platform. Multi-tenancy is implemented according to the roles defined by Cloud Foundry UAA.
* **Dashboards and visualization**: Provides out-of-the-box Dashboards for application and PCF platform logs
* **Automated back-ups**: Users can setup automated backups and the archiving of logs to any S3-compatible storage system 

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Altoros Log Search for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Septemner 20, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Elasticsearch v6.8.1, Logstash v6.8.1, and Kibana v6.8.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, v2.5.x and v2.6.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Services (PAS) version(s)</td>
        <td>v2.2.x, v2.3.x, v2.4.x, v2.5.x and v2.6.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, GCP, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>


## <a id="prerequisites"></a>Prerequisites

To complete installation of Altoros Log Search for PCF, you need the following:

* CPU, RAM, and disk resources for 11 VMs for shared service plan
* CPU, RAM, and disk resources for 12 VMs for on-demand service plan
* Internet connectivity between the networks where the PCF deployment and Log Search are installed. Altoros recommends installing Log Search on the same network with PCF.

## <a id="requirements"></a>Requirements

Altoros Log Search for PCF has the following requirements:

* [Pivotal Application Services](https://network.pivotal.io/products/elastic-runtime) v2.1.x, v2.2.x, v2.3.x, v2.4.x, v2.5.x, v2.6.x
* [Ops Manager](https://network.pivotal.io/products/ops-manager) v2.1.x, v2.2.x, v2.3.x, v2.4.x

## <a id="elastic-docs"></a>Elastic Documentation

See the following Elastic documentation about each component of the ELK stack:

* [Elasticsearch 6.8 Documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/index.html)
* [Logstash 6.8 Documentation](https://www.elastic.co/guide/en/logstash/6.8/index.html)
* [Kibana 6.8 Documentation](https://www.elastic.co/guide/en/kibana/6.8/index.html)

## <a id="trial-license"></a>Trial License

Users interested in Log Search can sign up for a [free trial](https://www.altoros.com/wp-content/uploads/2017/07/AltorosLogsearchTileEULA.pdf).

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).

