---
title: Installing and Configuring Altoros Log Search for PCF
owner: Partners
---

This topic describes how to install and configure Altoros Log Search for PCF.

##<a id='install'></a> Install and Configure Altoros Log Search for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Log Search for PCF. 
This adds the tile to your staging area.

1. Click the newly added **Altoros Log Search for PCF** tile.

1. Click the **Settings** tab and provide the following parameters:

	* Copy your NATS credentials from the Ops Manager Director and input them to the Log Search tile settings. 

	<%= image_tag("Images/ops_manager_director.png") %>

	* Define your log retention period (by default, the log retention period is set to 30 days).

	* Create a URL for Kibana. By default, it looks like this **https://logs.yourdomain.com**. 

	<%= image_tag("Images/logsearch_settings.png") %>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Altoros Log Search for PCF tile.

1. After Logsearch has been installed, grab the **ls-router** job IP address on the Altoros Logsearch for PCF status page.

<%= image_tag("Images/logsearch_status.png") %>

1. Open the **Elastic Runtime Settings**, click **System Logging**, and paste **ls-router IP** into the **External Syslog Aggregator Hostname** input box. Select **port 5514** and the TCP protocol.

<%= image_tag("Images/configure_system_logging.png") %>

1. Click save, go back to the installation dashboard, and press Apply Changes.


