---
title: Release Notes for Altoros Log Search for PCF
owner: Partners
---

These are release notes for Altoros Log Search for PCF.

##<a id="ver"></a> v0.207.5

**Release Date:** June 12, 2017

Features included in this release:

* Open Beta
* Based on logsearch v207 and Log Search for Cloud Foundry v205

