---
title: Altoros Log Search for PCF Resources
owner: Partners
---

##<a id='resources'></a> Resource Requirements

The following table shows the default resource requirements for installing the tile:

<table>
<tr><th>Resource</th><th>Instances</th><th>CPU</th><th>RAM</th><th>Ephemeral</th><th>Persistent</th><th>Static IP</th><th>Dynamic IP</th></tr>
<tr><td>Elasticsearch Master</td><td>3</td><td>1</td><td>2&nbsp;GB</td><td>4&nbsp;GB</td><td>2&nbsp;GB</td><td>0</td><td>3</td></tr>
<tr><td>Log Search Cluster Monitor</td><td>1</td><td>2</td><td>8&nbsp;GB</td><td>4&nbsp;GB</td><td>50&nbsp;GB</td><td>0</td><td>1</td></tr>
<tr><td>Log Search Maintenance</td><td>1</td><td>1</td><td>1&nbsp;GB</td><td>4&nbsp;GB</td><td>0&nbsp;GB</td><td>0</td><td>1</td></tr>
<tr><td>Elasticsearch Data</td><td>3</td><td>2</td><td>8&nbsp;GB</td><td>10&nbsp;GB</td><td>100&nbsp;GB</td><td>0</td><td>3</td></tr>
<tr><td>Kibana</td><td>1</td><td>2</td><td>4&nbsp;GB</td><td>4&nbsp;GB</td><td>2&nbsp;GB</td><td>0</td><td>1</td></tr>
<tr><td>Log Search Ingestor</td><td>2</td><td>2</td><td>8&nbsp;GB</td><td>4&nbsp;GB</td><td>2&nbsp;GB</td><td>0</td><td>2</td></tr>
<tr><td>Create Log Search UAA Client</td><td>1</td><td>1</td><td>1&nbsp;GB</td><td>1&nbsp;GB</td><td>0&nbsp;GB</td><td>0</td><td>1</td></tr>
<tr><td>Upload Kibana Objects</td><td>1</td><td>1</td><td>1&nbsp;GB</td><td>1&nbsp;GB</td><td>0&nbsp;GB</td><td>0</td><td>1</td></tr>
<tr><td>Smoke Tests</td><td>1</td><td>1</td><td>1&nbsp;GB</td><td>1&nbsp;GB</td><td>0&nbsp;GB</td><td>0</td><td>1</td></tr>
</table>

