---
title: Troubleshooting Altoros Log Search for PCF
owner: Partners
---

This topic describes how to resolve common issues with **Altoros Log Search of Pivotal Cloud Foundry (PCF)**.

##<a id='cluster-health'></a> Verify Log Search Cluster Health

Follow these steps to verify **Altoros Log Search for PCF** cluster health:

1. In the **Altoros Log Search for PCF** tile, click Status and record the IP address of the Elasticsearch Master instance.
1. SSH into PCF Ops Manager instance.
1. Execute the next command to check current Elasticsearch cluster state:
    ```
    curl ELASTICSEARCH-MASTER-INSTANCE-IP:9200/_cluster/health
    ```

