---
title: Using Altoros Log Search for PCF
owner: Partners
---

This topic describes how to use Altoros Log Search of PCF.

##<a id='prereq'></a> Prerequisite

You have installed and configured the Altoros Logsearch for PCF tile. For more information, see [Installing and Configuring Altoros Log Search for PCF](./installing.html).

##<a id='using'></a> Using Altoros Log Search for PCF

To use Altoros LogSearch with your PCF deployment, do the following:
1. Navigate to **https://elk.YOUR-SYSTEM-DOMAIN.com**
1. A prompt requesting permission for Logsearch will appear.

 <%= image_tag("Images/application_auth.png") %>

1. Log in to Kibana using **Pivotal Elastic Runtime** credentials.



