---
title: Using Altoros Log Search for PCF
owner: Partners
---

This topic describes how to use Altoros Log Search of Pivotal Cloud Foundry (PCF).

##<a id='prereq'></a> Prerequisite

You have installed and configured the Altoros Log Search for PCF tile. For more information, see [Installing and Configuring Altoros Log Search for PCF](./installing.html).

##<a id='using'></a> Using Altoros Log Search for PCF

To use Altoros Log Search with your PCF deployment, do the following:

1. Navigate to **https<span>:</span>//logs.YOUR-SYSTEM-DOMAIN.com**

1. A prompt requesting permission for Log Search appears.
 <%= image_tag("Images/application_auth.png") %>

1. Click **Authorize**.

1. Log in to Kibana using **Pivotal Elastic Runtime** credentials.



