---
title: Using Altoros Log Search for PCF
owner: Partners
---

This topic describes how to use **Altoros Log Search for PCF**.

##<a id='using'></a> Accessing Altoros Log Search Kibana Dashboard

To access Altoros Log Search with your PCF deployment, perform the following steps:

1. In the **Pivotal Elastic Runtime** tile, click **Domains**.

1. Record the value for **System Domain**.
 <%= image_tag("Images/ert_system_domain.png") %>

1. Navigate to `https://logs.YOUR-SYSTEM-DOMAIN`.

1. Log in to Altoros Log Search using your Pivotal Elastin Runtime credentials.
 <%= image_tag("Images/logsearch_login.png") %>

##<a id='configuring'></a> Configuring Altoros Log Search Kibana Dashboards

For information about creating and editing Kibana visualizations and dashboards, see [Building a Dashboard](https://www.elastic.co/guide/en/kibana/current/dashboard-getting-started.html) and [Creating a Visualization](https://www.elastic.co/guide/en/kibana/current/createvis.html).
